<head>
  <title>IT Check In</title>
</head>
<link rel="stylesheet" href="/static/css/styles.css">
<script>
    setTimeout(function(){ 
        window.location.href = "/";
    }, 3000)
</script>
<br><br><br><br>
<div class="center-text">
    Thank you for checking in!
</div>